.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.left-side{
  position: relative;
  min-width: 25%;
  height: 95vh;
  padding: .3rem;
  background-color: var(--clr-pokedex);
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.top-layer-border{
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon( 63.383% 0%,98.885% 0%,98.885% 0%,99.066% 0.022%,99.237% 0.087%,99.397% 0.19%,99.543% 0.329%,99.673% 0.499%,99.785% 0.698%,99.876% 0.921%,99.943% 1.166%,99.985% 1.428%,100% 1.705%,100% 53.977%,67.615% 53.977%,67.615% 53.977%,66.813% 54.03%,66.023% 54.187%,65.249% 54.445%,64.494% 54.802%,63.763% 55.254%,63.06% 55.8%,62.389% 56.435%,61.753% 57.159%,61.157% 57.966%,60.604% 58.856%,39.953% 95.121%,39.953% 95.121%,39.401% 96.011%,38.804% 96.819%,38.169% 97.542%,37.497% 98.177%,36.794% 98.723%,36.064% 99.175%,35.309% 99.532%,34.535% 99.79%,33.745% 99.947%,32.943% 100%,0% 100%,0% 1.705%,0% 1.705%,0.015% 1.428%,0.057% 1.166%,0.124% 0.921%,0.215% 0.698%,0.327% 0.499%,0.457% 0.329%,0.603% 0.19%,0.763% 0.087%,0.934% 0.022%,1.115% 0%,63.383% 0% );
  background-color: var(--clr-searchbar-and-display);
  width: 100%;
  height: 20%;
  padding-block: .1rem;
}

.top-layer-red{
  display: flex;
  padding: 1rem;
  clip-path: polygon( 63.383% 0%,98.885% 0%,98.885% 0%,99.066% 0.022%,99.237% 0.087%,99.397% 0.19%,99.543% 0.329%,99.673% 0.499%,99.785% 0.698%,99.876% 0.921%,99.943% 1.166%,99.985% 1.428%,100% 1.705%,100% 53.977%,67.615% 53.977%,67.615% 53.977%,66.813% 54.03%,66.023% 54.187%,65.249% 54.445%,64.494% 54.802%,63.763% 55.254%,63.06% 55.8%,62.389% 56.435%,61.753% 57.159%,61.157% 57.966%,60.604% 58.856%,39.953% 95.121%,39.953% 95.121%,39.401% 96.011%,38.804% 96.819%,38.169% 97.542%,37.497% 98.177%,36.794% 98.723%,36.064% 99.175%,35.309% 99.532%,34.535% 99.79%,33.745% 99.947%,32.943% 100%,0% 100%,0% 1.705%,0% 1.705%,0.015% 1.428%,0.057% 1.166%,0.124% 0.921%,0.215% 0.698%,0.327% 0.499%,0.457% 0.329%,0.603% 0.19%,0.763% 0.087%,0.934% 0.022%,1.115% 0%,63.383% 0% );
  width: 100%;
  height: 100%;
  background-color: var(--clr-pokedex);
}

.border-blue-led{
  display: grid;
  place-items: center;
  background-color: #fff;
  border: 1px solid var(--clr-searchbar-and-display);
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.big-blue-led{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--clr-blue-led);
}

.stoplight{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  height: 1rem;
}

.stoplight .circles:nth-child(1){
  background-color: var(--clr-pokedex);
}

.stoplight .circles:nth-child(2){
  background-color: var(--clr-yellow-led);
}

.stoplight .circles:nth-child(3){
  background-color: var(--clr-green-led);
}

.circles{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-searchbar-and-display);
}

.inside-left-border{
  padding: .1rem;
  background-color: var(--clr-searchbar-and-display);
  clip-path: polygon( 65.943% 0%,65.943% 0%,65.458% 0.01%,64.975% 0.039%,64.496% 0.088%,64.022% 0.156%,63.553% 0.243%,63.091% 0.349%,62.636% 0.473%,62.19% 0.616%,61.753% 0.777%,61.326% 0.956%,39.852% 10.541%,1.414% 10.541%,1.414% 10.541%,1.235% 10.552%,1.065% 10.585%,0.906% 10.637%,0.761% 10.706%,0.632% 10.792%,0.521% 10.891%,0.431% 11.003%,0.364% 11.126%,0.322% 11.257%,0.307% 11.396%,0.307% 99.145%,0.307% 99.145%,0.322% 99.284%,0.364% 99.415%,0.431% 99.538%,0.521% 99.65%,0.632% 99.75%,0.761% 99.835%,0.906% 99.905%,1.065% 99.956%,1.235% 99.989%,1.414% 100%,98.586% 100%,98.586% 100%,98.765% 99.989%,98.936% 99.956%,99.094% 99.905%,99.239% 99.835%,99.368% 99.75%,99.479% 99.65%,99.569% 99.538%,99.636% 99.415%,99.678% 99.284%,99.693% 99.145%,99.693% 50.142%,99.693% 1.14%,99.693% 1.14%,99.673% 0.955%,99.617% 0.779%,99.528% 0.616%,99.408% 0.467%,99.26% 0.334%,99.088% 0.22%,98.895% 0.127%,98.683% 0.058%,98.456% 0.015%,98.217% 0%,65.943% 0% );
  margin-bottom: 3rem;
  margin-top: 6.3rem;
  width: 100%;
  height: 88%;
}

.inside-inside-left-background{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr) repeat(2, 2fr);
  background-color: var(--clr-pokedex);
  clip-path: polygon( 65.943% 0%,65.943% 0%,65.458% 0.01%,64.975% 0.039%,64.496% 0.088%,64.022% 0.156%,63.553% 0.243%,63.091% 0.349%,62.636% 0.473%,62.19% 0.616%,61.753% 0.777%,61.326% 0.956%,39.852% 10.541%,1.414% 10.541%,1.414% 10.541%,1.235% 10.552%,1.065% 10.585%,0.906% 10.637%,0.761% 10.706%,0.632% 10.792%,0.521% 10.891%,0.431% 11.003%,0.364% 11.126%,0.322% 11.257%,0.307% 11.396%,0.307% 99.145%,0.307% 99.145%,0.322% 99.284%,0.364% 99.415%,0.431% 99.538%,0.521% 99.65%,0.632% 99.75%,0.761% 99.835%,0.906% 99.905%,1.065% 99.956%,1.235% 99.989%,1.414% 100%,98.586% 100%,98.586% 100%,98.765% 99.989%,98.936% 99.956%,99.094% 99.905%,99.239% 99.835%,99.368% 99.75%,99.479% 99.65%,99.569% 99.538%,99.636% 99.415%,99.678% 99.284%,99.693% 99.145%,99.693% 50.142%,99.693% 1.14%,99.693% 1.14%,99.673% 0.955%,99.617% 0.779%,99.528% 0.616%,99.408% 0.467%,99.26% 0.334%,99.088% 0.22%,98.895% 0.127%,98.683% 0.058%,98.456% 0.015%,98.217% 0%,65.943% 0% );
  padding-top: 6rem;
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
}

.border-display{
  display: grid;
  place-items: center;
  clip-path: polygon( 0% 2.165%,0% 2.165%,0.028% 1.813%,0.109% 1.48%,0.239% 1.17%,0.412% 0.886%,0.626% 0.634%,0.875% 0.418%,1.155% 0.242%,1.461% 0.11%,1.79% 0.028%,2.137% 0%,97.863% 0%,97.863% 0%,98.21% 0.028%,98.539% 0.11%,98.845% 0.242%,99.125% 0.418%,99.374% 0.634%,99.588% 0.886%,99.761% 1.17%,99.891% 1.48%,99.972% 1.813%,100% 2.165%,100% 97.835%,100% 97.835%,99.972% 98.187%,99.891% 98.52%,99.761% 98.83%,99.588% 99.114%,99.374% 99.366%,99.125% 99.582%,98.845% 99.758%,98.539% 99.89%,98.21% 99.972%,97.863% 100%,16.707% 100%,16.707% 100%,16.135% 99.974%,15.572% 99.897%,15.021% 99.771%,14.484% 99.597%,13.966% 99.376%,13.469% 99.111%,12.996% 98.801%,12.55% 98.45%,12.135% 98.057%,11.752% 97.626%,1.455% 84.913%,1.455% 84.913%,1.185% 84.556%,0.942% 84.183%,0.726% 83.795%,0.536% 83.394%,0.375% 82.981%,0.241% 82.558%,0.136% 82.127%,0.061% 81.688%,0.015% 81.243%,0% 80.794%,0% 2.165% );
  grid-column: 2/8;
  grid-row: 1/6;
  background-color: var(--clr-border-display-and-buttons);
}

.display{
  clip-path: polygon( 0% 2.165%,0% 2.165%,0.028% 1.813%,0.109% 1.48%,0.239% 1.17%,0.412% 0.886%,0.626% 0.634%,0.875% 0.418%,1.155% 0.242%,1.461% 0.11%,1.79% 0.028%,2.137% 0%,97.863% 0%,97.863% 0%,98.21% 0.028%,98.539% 0.11%,98.845% 0.242%,99.125% 0.418%,99.374% 0.634%,99.588% 0.886%,99.761% 1.17%,99.891% 1.48%,99.972% 1.813%,100% 2.165%,100% 97.835%,100% 97.835%,99.972% 98.187%,99.891% 98.52%,99.761% 98.83%,99.588% 99.114%,99.374% 99.366%,99.125% 99.582%,98.845% 99.758%,98.539% 99.89%,98.21% 99.972%,97.863% 100%,11.628% 100%,11.628% 100%,11.047% 99.973%,10.476% 99.894%,9.918% 99.765%,9.375% 99.586%,8.851% 99.359%,8.349% 99.086%,7.872% 98.769%,7.423% 98.408%,7.006% 98.005%,6.622% 97.563%,1.405% 90.956%,1.405% 90.956%,1.144% 90.603%,0.909% 90.234%,0.7% 89.851%,0.517% 89.456%,0.361% 89.049%,0.233% 88.633%,0.132% 88.208%,0.059% 87.777%,0.015% 87.34%,0% 86.9%,0% 2.165% );
  width: 70%;
  height: 70%;
  background-color: var(--clr-searchbar-and-display);
}

.top-circles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.6rem;
  padding-top: 1.5rem;
  grid-column: 4/6;
  grid-row: 1/1;
  width: 3.5rem;
  height: 1.5rem;
}

.red-circle{
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr-pokedex);
}

.red-button{
  display: grid;
  place-items: center;
  grid-column: 3/3;
  grid-row: 5/5;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--clr-pokedex);
}

.right-side{
  position: relative;
  border: 1px solid var(--clr-searchbar-and-display);
  min-width: 25%;
  height: 85vh;
  padding: .4rem;
  margin-top: 5.7rem;
  background-color: var(--clr-pokedex);
  clip-path: polygon( 34.057% 0%,34.057% 0%,34.542% 0.01%,35.025% 0.039%,35.504% 0.088%,35.978% 0.156%,36.447% 0.243%,36.909% 0.349%,37.364% 0.473%,37.81% 0.616%,38.247% 0.777%,38.674% 0.956%,58.005% 9.585%,58.005% 9.585%,58.432% 9.764%,58.869% 9.925%,59.315% 10.068%,59.77% 10.192%,60.232% 10.298%,60.701% 10.385%,61.175% 10.453%,61.654% 10.502%,62.137% 10.531%,62.623% 10.541%,98.586% 10.541%,98.586% 10.541%,98.765% 10.552%,98.936% 10.585%,99.094% 10.637%,99.239% 10.706%,99.368% 10.792%,99.479% 10.891%,99.569% 11.003%,99.636% 11.126%,99.678% 11.257%,99.693% 11.396%,99.693% 99.145%,99.693% 99.145%,99.678% 99.284%,99.636% 99.415%,99.569% 99.538%,99.479% 99.65%,99.368% 99.75%,99.239% 99.835%,99.094% 99.905%,98.936% 99.956%,98.765% 99.989%,98.586% 100%,0.307% 100%,0.307% 50.142%,0.307% 0%,34.057% 0% );
}

.inside-right-border{
  clip-path: polygon( 34.057% 0%,34.057% 0%,34.542% 0.01%,35.025% 0.039%,35.504% 0.088%,35.978% 0.156%,36.447% 0.243%,36.909% 0.349%,37.364% 0.473%,37.81% 0.616%,38.247% 0.777%,38.674% 0.956%,58.434% 9.776%,58.434% 9.776%,58.775% 9.919%,59.124% 10.048%,59.482% 10.163%,59.845% 10.262%,60.215% 10.347%,60.59% 10.416%,60.97% 10.471%,61.353% 10.51%,61.739% 10.533%,62.127% 10.541%,98.217% 10.541%,98.217% 10.541%,98.456% 10.556%,98.683% 10.599%,98.895% 10.669%,99.088% 10.761%,99.26% 10.875%,99.408% 11.008%,99.528% 11.157%,99.617% 11.321%,99.673% 11.496%,99.693% 11.681%,99.693% 98.86%,99.693% 98.86%,99.673% 99.045%,99.617% 99.221%,99.528% 99.384%,99.408% 99.533%,99.26% 99.666%,99.088% 99.78%,98.895% 99.873%,98.683% 99.942%,98.456% 99.985%,98.217% 100%,1.783% 100%,1.783% 100%,1.544% 99.985%,1.317% 99.942%,1.105% 99.873%,0.912% 99.78%,0.74% 99.666%,0.592% 99.533%,0.472% 99.384%,0.383% 99.221%,0.327% 99.045%,0.307% 98.86%,0.307% 50.142%,0.307% 1.14%,0.307% 1.14%,0.327% 0.955%,0.383% 0.779%,0.472% 0.616%,0.592% 0.467%,0.74% 0.334%,0.912% 0.22%,1.105% 0.127%,1.317% 0.058%,1.544% 0.015%,1.783% 0%,34.057% 0% );
  background-color: var(--clr-searchbar-and-display);
  width: 100%;
  height: 83.5vh;
  padding: .2rem;
  margin: 0 auto;
}

.inside-inside-right-background{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 2fr) 1fr repeat(2, 2fr) 1fr 2fr 1fr 2fr;
  width: 100%;
  height: 82.9vh;
  clip-path: polygon( 34.057% 0%,34.057% 0%,34.542% 0.01%,35.025% 0.039%,35.504% 0.088%,35.978% 0.156%,36.447% 0.243%,36.909% 0.349%,37.364% 0.473%,37.81% 0.616%,38.247% 0.777%,38.674% 0.956%,58.434% 9.776%,58.434% 9.776%,58.775% 9.919%,59.124% 10.048%,59.482% 10.163%,59.845% 10.262%,60.215% 10.347%,60.59% 10.416%,60.97% 10.471%,61.353% 10.51%,61.739% 10.533%,62.127% 10.541%,98.217% 10.541%,98.217% 10.541%,98.456% 10.556%,98.683% 10.599%,98.895% 10.669%,99.088% 10.761%,99.26% 10.875%,99.408% 11.008%,99.528% 11.157%,99.617% 11.321%,99.673% 11.496%,99.693% 11.681%,99.693% 98.86%,99.693% 98.86%,99.673% 99.045%,99.617% 99.221%,99.528% 99.384%,99.408% 99.533%,99.26% 99.666%,99.088% 99.78%,98.895% 99.873%,98.683% 99.942%,98.456% 99.985%,98.217% 100%,1.783% 100%,1.783% 100%,1.544% 99.985%,1.317% 99.942%,1.105% 99.873%,0.912% 99.78%,0.74% 99.666%,0.592% 99.533%,0.472% 99.384%,0.383% 99.221%,0.327% 99.045%,0.307% 98.86%,0.307% 50.142%,0.307% 1.14%,0.307% 1.14%,0.327% 0.955%,0.383% 0.779%,0.472% 0.616%,0.592% 0.467%,0.74% 0.334%,0.912% 0.22%,1.105% 0.127%,1.317% 0.058%,1.544% 0.015%,1.783% 0%,34.057% 0% );
  background-color: var(--clr-pokedex);
  margin: 0 auto;
  padding: 5.5rem 1rem 1rem 1rem;
}

.search-bar{
  grid-column: 1/6;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.search-bar input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--clr-searchbar-and-display);
  color: #fff;
  font-size: 1.5rem;
}

.button-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid var(--clr-searchbar-and-display);
  grid-column: 1/6;
  grid-row: 4/6;
  width: 100%;
  height: 100%;
  background-color: var(--clr-buttons-right);
}

.button{
  border: 1px solid var(--clr-searchbar-and-display);
  width: 100%;
  height: auto;
}

.lines{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: .5rem;
  grid-column: 4/6;
  grid-row: 6/7;
  width: 100%;
  height: 100%;
  background-color: var(--clr-pokedex);
}

.lines .line{
  width: 50%;
  height: .5rem;
  background-color: var(--clr-searchbar-and-display);
  border-radius: 1rem;
}

.button-grid-white{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--clr-searchbar-and-display);
  grid-column: 1/3;
  grid-row: 7/8;
  width: 100%;
  height: 100%;
}

.white-button{
  border: 1px solid var(--clr-searchbar-and-display);
  width: 100%;
  height: auto;
  background-color: rgb(254, 244, 253);
}

.container-yellow-circle{
  grid-column: 5/5;
  grid-row: 7/7;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.yellow-circle{
  grid-column: 5/5;
  grid-row: 7/7;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: var(--clr-yellow-led);
}

.container-rectangles{
  grid-column: 1/6;
  grid-row: 9/9;
  gap: 5.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.rectangle-left{
  grid-column: 1/6;
  background-color: var(--clr-searchbar-and-display);
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.rectangle-right{
  grid-column: 5/5;
  background-color: var(--clr-searchbar-and-display);
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}