*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;
}

:root{
  color-scheme: light dark;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}