*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;
}

:root{
  color-scheme: light dark;
  --clr-buttons-right: rgb(69, 168, 249);
  --clr-pokedex: rgb(214, 44, 53);
  --clr-screens: rgb(14, 10, 10);
  --clr-yellow-led: rgb(241, 193, 88);
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}